

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:2fr 2fr 2fr 4fr 3fr ;
    gap: 20px;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco";
    padding: 20px;
    max-width: 450px;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.cont-uno{
    grid-area: uno;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);

}
.cont-dos{
    grid-area: dos;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
}
.cont-tres{
    grid-area: tres;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);

}
.cont-cuatro{
    grid-area: cuatro;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}
.elements-cuatro{
    width: 85%;
    height: 25%;
    border-radius:20px;
    background-color: rgba(198, 198, 198, 0.242);
}
.cont-cinco{
    grid-area: cinco;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
}
.elements-cinco{
    width: 90%;
    height: 35%;
    border-radius:20px;
    background-color: rgba(198, 198, 198, 0.242);
}
.ct{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
}
.cont-element{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}
.circle-element{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(198, 198, 198, 0.242);
}
.elements{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background-color: rgba(198, 198, 198, 0.242);
}
.dn{
    display: none;
}
.comun{
    position: relative;
    overflow: hidden;
}
.comun::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s ease-in infinite;
}
@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}


@media screen and (min-width:764px) {
    .content{
        max-width: 100%;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
        "uno dos tres "
        "cuatro cuatro cinco"
        "cuatro cuatro cinco";
        padding: 15px 15px 15px 95px;
    }
    .elements{
        height: 20px;
    }
    

    .cont-cuatro{
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }
    .elements-cuatro{
        width: 30%;
        height: 90%;
    }
  
    .elements-cinco{
        width: 90%;
        height: 90px;

    }
    
    .cont-element{
        width: 60%;
        height: 100%;
        padding: 10px;
    }
    .circle-element{
        width: 80px;
        height: 80px;
    }
    .dn{
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    .content{
        gap: 20px;
    }

  
    .elements-cinco{
        width: 90%;
        height: 130px;
    }
  
  
    .circle-element{
        width: 130px;
        height: 130px;
    }
}

/**/
